<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1072157588582-oh3but720ag6m82asck49cb8782p6qlc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1072157588582-oh3but720ag6m82asck49cb8782p6qlc</string>
	<key>API_KEY</key>
	<string>AIzaSyAMKjDSlw7z3jHrwRWI7YWtPEbi8JIznEw</string>
	<key>GCM_SENDER_ID</key>
	<string>1072157588582</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.banner.takeitover</string>
	<key>PROJECT_ID</key>
	<string>takeitover-85825</string>
	<key>STORAGE_BUCKET</key>
	<string>takeitover-85825.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1072157588582:ios:5ca05d25e144c659</string>
	<key>DATABASE_URL</key>
	<string>https://takeitover-85825.firebaseio.com</string>
</dict>
</plist>